.App {
  color: var(--text);
  text-align: center;
}

/* Toast notification */

.toast-container {
  background-color: var(--bg);
  color: var(--text);
  height: 4rem;
  border-radius: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.toast-body {
  padding: 1rem;
  display: flex;
  align-items: center;
}
