.container {
  width: 100%;
  max-width: 32rem;
  padding: 2rem;
  border-bottom: 0.2rem solid rgba(var(--border), 1);
  box-shadow: var(--shadow-lg);
}

.top {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  text-align: start;
}

.close-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.input-cont {
  margin-top: 1rem;
}

.submit-button {
  background-color: rgba(var(--bg), 1);
  color: rgba(var(--text), 1);
  border: none;
  border-radius: 0.15rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 1rem 4rem;
}

.submit-button:hover {
  opacity: 0.8;
}
