.container {
  margin-top: 3rem;
  padding: 0 2rem;
}

.filters {
  width: 100%;
  max-width: 56rem;
  padding: 0.5rem 1rem;
  margin: 3rem 0;
  box-shadow: var(--shadow-lg);
  border-bottom: 0.2rem solid rgba(var(--border, 1));
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filter-wrapper {
  margin-bottom: 1rem;
}

.pag-cont {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filters {
    flex-direction: row-reverse; 
  }

  .filter-wrapper {
    margin: 0;
    margin-left: 2rem;
  }

  .operations-cont {
    width: 100%;
    max-width: 56rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
