.label {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: start;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.input {
  background-color: transparent;
  color: rgba(var(--text, 1));
  border: none;
  border: 0.08rem solid rgba(var(--border, 1));
  padding: 0.8rem 0.5rem;
  font-size: 1.1rem;
}

.input:focus {
  outline: 0.08rem solid rgba(var(--border, 1));
}

.input::placeholder {
  color: rgba(var(--text), 0.5);
}

/* description */

.description {
  height: 0.8rem;
  color: red;
  text-align: start;
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
