.container {
  width: fit-content;
  list-style: none;
  display: flex;
}

.button-li {
  margin: 0 0.2rem;
}

.button {
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
}

.button:hover {
  outline: 0.08rem solid rgba(var(--border), 0.5);
}

.button-active {
  outline: 0.08rem solid rgba(var(--border), 0.5);
  box-shadow: var(--shadow-lg);
}

.arrow-button-li {
  margin: 0 0.8rem;
}

.arrow-button {
  padding: 0.3rem 0.6rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button:hover {
  outline: 0.08rem solid rgba(var(--border), 0.5);
}

.arrow {
  width: 1.2rem;
}

@media only screen and (min-width: 1024px) {
  .button {
    font-size: 1.1rem;
  }

  .arrow {
    width: 1.1rem;
  }
}
