.top-panel {
  width: 100%;
  position: fixed;
  transition: all 0.3s linear;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-panel-active {
  height: 3rem;
  background: var(--bg);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.top-panel-inactive {
  height: 5rem;
}

.logo-cont {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo-cont h1 {
  display: none;
}

/* Active */

.logo-cont-active svg {
  width: 2rem;
}

.logo-cont-active h1 {
  font-size: 1.5rem;
}

/* Inactive */

.logo-cont-inactive svg {
  width: 3rem;
}

.logo-cont-inactive h1 {
  font-size: 2rem;
}

/* Menu component */

.menu-cont ul {
  list-style: none;
  display: flex;
}

.menu-cont ul li {
  margin: 0 1rem;
}

.menu-cont ul li a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.menu-cont-active ul li a {
  font-size: 1rem;
}

.menu-cont-inactive ul li a {
  font-size: 1.2rem;
}

@media only screen and (min-width: 640px) {
  .logo-cont h1 {
    margin-left: 0.4rem;
    display: block;
  }   
}
